.products{
  max-width: 1020px;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  color: var(--main-color);
  background-color: var(--light-color);
  padding: 2rem;
  box-shadow: 2px 2px 5px black;
  font-family: Roboto,'sans-serif';
  font-weight: 700;
  img{
    width: 70px;
    height: 70px;
  }
}