.header{
  width: 100vw;
  background-color: rgb(241, 247, 255);
  box-shadow: 2px 2px 5px black;

  .header__icon{
    display: none;
  }

  .header__container{
  
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
      img{
        width: 20rem;
      }

      
      .header__nav{
        margin: auto;
        img{
          display: none;
        }
        
        ul{
          width: 50vh;
          list-style: none;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          align-items: center;
          li{
            text-transform: uppercase;
            font-weight: bolder;
            color: #01466F;
            cursor: pointer;
            position: relative;
            text-align: center;
            
              &::after{
                content: '';
                width: 0%;
                background-color: #01466F;
                height: 3px;
                bottom: -3px;
                position: absolute;
                left: 0;
                transition: width 200ms ease-out;
              }
              &:hover::after{
                width: 100%
              }
          }
          
        }
      
  
      }
  }
}

@media (max-width: 700px){
  .header{
    width: 700px;
    height: 8rem;
    background-color: rgb(241, 247, 255);
    box-shadow: 2px 2px 5px black;
    .header__icon{
      display: grid;
      position: absolute;
      width: 5rem;
      height: 5rem;
      right: -5rem;
      top: 2rem;
    }
    .header__container{
      margin-top: 0;
      position: fixed;
      display: flex;
      
        img{
          position: absolute;
          left: 0rem;
          top:0.8rem;
          
        }
        .header__nav{
          position: fixed;
          right: 0;
          top: 8rem;
          ul{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border: 2px solid #01466F;
            border-radius: 1rem;
            padding: 2rem;
            li{
              font-size: 3rem;
              margin-top: 1rem;
            }

          }
        
    
        }
    }
  }
}
@media (max-width: 400px){
  .header{
    width: 400px;
  }
}

