.header{
  width: 100vw;
  background-color: rgb(241, 247, 255);
  box-shadow: 2px 2px 5px black;

  .header__icon{
    display: none;
  }

  .header__container{
  
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
      .header__logo{
        width: 20rem;
      }

      
      .header__nav{
        margin: auto;
        
        ul{
          width: 50vh;
          list-style: none;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          align-items: center;
          li{
            text-transform: uppercase;
            font-weight: bolder;
            color: #01466F;
            cursor: pointer;
            position: relative;
            text-align: center;
            
              &::after{
                content: '';
                width: 0%;
                background-color: #01466F;
                height: 3px;
                bottom: -3px;
                position: absolute;
                left: 0;
                transition: width 200ms ease-out;
              }
              &:hover::after{
                width: 100%
              }
          }
          
        }
      
  
      }
  }
}

@media (max-width: 450px){
  .header{
    width: 450px;
    height: 5rem;
    background-color: rgb(241, 247, 255);
    box-shadow: 2px 2px 5px black;
    
    .header__container{
      display: flex;
      width: 100%;
        .header__logo{
          margin-left: 2rem;
          flex: 2;
          img{
            width: 200px;
          }
        }
        .header__icon{
          position: relative;
          flex: 1;
          padding: 1rem;
          display: inline;
          height: 5rem;
          width: 1rem;
          img{
            width: 3rem;
            height: 3rem;
            position: absolute;
            right: 0;
          }
         }

        .header__nav{
          position: fixed;
          right: 0;
          top: 5rem;
          ul{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border: 2px solid #01466F;
            border-radius: 1rem;
            padding: 2rem;
            li{
              font-size: 3rem;
              margin-top: 1rem;
            }

          }
          
        }
        
    }
  }
}

