.header__nav{
    position: fixed;
    right: 0;
    top: 6rem;
    width: 50vw;
    z-index: 5000;


    ul{position: absolute;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 2px solid #01466F;
        border-radius: 0 0 1rem 1rem ;
        padding: 2rem;
        list-style: none;
        text-align: center;
        transition: 500ms;
        transform: translateY(-45deg);
      li{
        font-size: 2rem;
        margin-top: 1rem;
        cursor: pointer;
        color: #01466F;
      
    
}}}